*   {
        box-sizing: border-box;
    }   

body
    {
        font-family: 'Work Sans', sans-serif;
    }

/* strat container */
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* Small devices  */

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* Medium devices  */

@media (min-width: 992px) { 
    .container{
        width: 970px;
    }
}

/* Large devices  */

@media (min-width: 1200px) { 
    .container{
        width: 1170px;
    }
    
}
/* End container */

/* Start header */

.header{
    
}

/* End header */

